.container {
  background-color: var(--gray-200);
  min-height: 335px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px dashed var(--gray-380);
  border-radius: 16px;

  div span {
    font-family: 'Manrope', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--gray-500);
  }

  div p {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--gray-400);
  }
}

.plus {
  background-color: var(--gray-350);
  padding: 1.5rem;
  border-radius: 999px;
  line-height: 0;
}