.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.emptyContainer {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  p {
    text-align: center;
    max-width: 230px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: var(--gray-400);
  }
}