* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;

  --gray-100: #F7F9FB;
  --gray-200: #F0F4F7;
  --gray-300: #E1E9EE;
  --gray-350: #D9E4EA;
  --gray-400: #717C82;
  --gray-500: #566166;
  --gray-800: #2A3439;

  --purple-100: #F3E8FF;
  --purple-500: #7C3AED;
  --purple-600: #6D28D9;

  --red-200: #FF8B9A;
  --red-500: #9E3F4E;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

body {
  background-color: var(--gray-100);
  color: var(--gray-800);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}